body{
    margin: auto;
}
a{
    text-decoration: none;
}

header{

    
  
    background: rgb(0, 0, 0);
    height: 60px;
    width: 100%;
    color: #fff;
    

    

}
.div{
    
    margin-left: 1%;
    float: left;
    margin-top: -1%;
   
} 


.social{
    float: right;
   margin-top: -0.01%;
   margin-right: 1%;
   

}
.slogo{
    height: 35px;
    
   margin: 5px;


    

}
footer{
    background-color: black;
    
    width: 100%; 
    margin-top: 10px;   

}
.copyr{
    color: #fff;
    text-align: center;
 
}
.footdiv{
    color: #fff;
    height: 60px;
    width: 50%;
    font:  sans-serif;
    font-size: large;
   float: left;
   text-align: center;
   
}


#content{

    width: 80%;
    margin-top: 1%;
    display: inline-block;
    margin-left: 10%;
    
}

#filter{
  height: 600px;
    width: 20%;
   
    float: left;
    background-color: rgb(232, 246, 234);
}
#filter input{
   
    color:bisque;
}
#filter p{
    color:bisque;
}
#contentdiv{

   
    width: 75%;
    margin-left: 4%;
   
    float: left;
    background-color: rgb(38, 34, 34);
}
.list{

    width: 80%;
    height: 300px;
    border-bottom: 1px solid bisque;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;

}
.listcontent1 {
    height: 300px;
    width: 50%;
    float: left;
}

.listcontent1 img{
    height: 300px;
    width: 90%;
}
.listcontent2{
    height: 300px;
    width: 45%;
    float: right;
}
.listcontent2 h1{
    color: ivory;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: bolder;
    font-style: italic;
}
.listcontent2 h3{
    color:aliceblue ;
}
